# Load the data for year 2022

In [1]:
import os
from src.data import (load_raw_data,
                      transform_raw_data_into_ts_data,
                      transform_ts_data_into_features_and_target)
from src.paths import TRANSFORMED_DATA_DIR

In [2]:
rides = load_raw_data(year=2022)
print(rides.shape)
rides.tail()

File 2022-01 was already in local storage
File 2022-02 was already in local storage
File 2022-03 was already in local storage
File 2022-04 was already in local storage
File 2022-05 was already in local storage
File 2022-06 was already in local storage
File 2022-07 was already in local storage
File 2022-08 was already in local storage
File 2022-09 was already in local storage
File 2022-10 was already in local storage
File 2022-11 was already in local storage
File 2022-12 was already in local storage
(39654635, 2)

            pickup_datetime  pickup_location_id
3399544 2022-12-31 23:46:00                  16
3399545 2022-12-31 23:13:24                  75
3399546 2022-12-31 23:00:49                 168
3399547 2022-12-31 23:02:50                 238
3399548 2022-12-31 23:00:15                  85

In [3]:
ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 262/262 [00:01<00:00, 188.10it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00     11                   4
1       2022-01-01 01:00:00     15                   4
2       2022-01-01 02:00:00     26                   4
3       2022-01-01 03:00:00      8                   4
4       2022-01-01 04:00:00      9                   4
...                     ...    ...                 ...
2295115 2022-12-31 19:00:00      0                 199
2295116 2022-12-31 20:00:00      0                 199
2295117 2022-12-31 21:00:00      0                 199
2295118 2022-12-31 22:00:00      0                 199
2295119 2022-12-31 23:00:00      0                 199

[2295120 rows x 3 columns]

In [4]:
features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 262/262 [00:11<00:00, 23.39it/s]

features.shape=(88294, 674)
targets.shape=(88294,)

In [6]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

tabular_data.to_parquet(TRANSFORMED_DATA_DIR.joinpath('tabular_data.parquet'))